
.spidy{
  display: block;
  margin: 0 auto;
  width: 300px;
  height: 200px;
  box-shadow: 5px 5px 10px #000000;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.texto{
  display: block;
  margin: 0 auto;
  width: 300px;
  height: 200px;
  background: #ffffff;
  box-shadow: 5px 5px 10px #000000;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  text-align: center;
  color: red;
  
}
.parrafo{
  color: #000000;
}
.boton{
  background: rgb(215, 20, 20);
}

.goku{
  display: block;
  margin: 0 auto;
  width: 600px;
  height: 800px;
  filter: drop-shadow(5px 5px 10px #ffe600);
}
